@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
  font-family: 'Work Sans', sans-serif;
}
body{
  margin: 0 auto;
}
/* header section  */

/* nav bar  */
.logo{
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.logo img{
  width: 5rem;
  height: 3rem;
}
.logo-g{
  font-size: 45px;
  font-weight: 700;
  background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-title{
  color: #0B0223;
  font-size: 45px;
  font-weight: 700;
}
header nav{
  display: flex;
 justify-content: space-around;
  align-items: center;
  
} 

nav ul{
  display: flex;
  align-items: center;
}
nav li{
  list-style: none;
  margin-right: 32px;
}
nav li a{
  text-decoration: none;
  color: #3C354F;
text-align: center;
font-size: 1.1rem;
font-weight: 500;
}
.nav-follow-us{
border-radius: 8px;
background: rgba(11, 2, 35, 0.10);
padding: 1rem;
}
.nav-follow-us a{
  margin-right: 24px;
  align-items: center;
}
nav li img{
 margin-right: 10px;
 
}

/* banner section  */
.banner{
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  background-image: url("./images/Group\ 14.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  gap: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.banner-content{
  height: 550px;
  width: 500px;
  align-items: center;
  margin-top: 10%;
  
}
.banner img{
  width: 50%;
}
.banner-title{
color: #0B0223;
font-size: 3rem;
padding-bottom: 0px;
margin-bottom: 0px;
}
.banner-slogan{
font-size: 95px;
font-weight: 800;
margin-top: 0px;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
margin-bottom: 0px;
}
.banner-service p{
display: flex;
color: #534C64;
font-size: 1.2rem;
font-weight: 500;
text-transform: lowercase;
list-style: none;


}
.banner-service{
  margin-top: 24px;
}
.banner-content p img{
width: 1.5rem;
height: 1.5rem;

}
.button{
  display: flex;
  gap: 24px;
  margin-top: 41px;
}
.sign-in{
  padding: 21px 40px;
  gap: 10px;
  border-radius: 48px;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
border: none;
color: #FFF;
font-size: 1.2rem;
font-weight: 600;
}
.go-rogue{
  font-size: 1.2rem;
  color: #FFF;
padding: 21px 40px;
gap: 10px;
border-radius: 48px;
background: #4EC5F7;
border: none;
border-radius: 48px;
}

/* gamer section  */
.gamer-section{
  display: flex;
  justify-content: center;
  background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
  gap: 30px;
  align-items: center;
  padding-top: 4%;
  padding-bottom: 4%;
}
.gamer-container{
  margin-right: 150px;
  text-align: right;
}
.gamer-img img{
  width: 100%;
}
.gamer-title{
text-align: right;
font-size: 3rem;
font-weight: 700;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
margin-bottom: 24px;
}
.gamer-discription{
width: 520px;
color: #534C64;
text-align: right;
font-size: 1.1rem;
font-weight: 400;
line-height: 30px;
}
.gamer-button{ 
padding: 21px 40px;
gap: 10px;
border-radius: 48px;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
border: none;
color: #FFF;
font-size: 1.2rem;
font-weight: 600;
}
.gamer-section .our-purpose{
color: #534C64;
font-size: 1.5rem;
font-weight: 500;
line-height: 45px;
}
.gamer-section .unleash{
color: #534C64;
font-size: 2rem;
font-weight: 700;
line-height: 45px;
}

/* funny videos  */
.funny-videos{
  text-align: center;
  margin-top: 80px;
 
}
.funny-videos .special-play{
  margin-top: 35px;
}
.funnu-img{
  display: flex;
  justify-content: center;
  gap: 0px;
}
.funnu-img img{
  width: 280px;
  height: 280px;
  padding-top: 30px;
 
  
}
.heading-funny{
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.online-games{
color: #0B0223;
text-align: right;
font-size: 3rem;
font-weight: 700;
}
.funny-videos-title{
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 3rem;
font-weight: 700;
}
.funny-discription{
color: #534C64;
text-align: center;
font-size: 1.1rem;
font-weight: 400;
line-height: 30px;
padding-top: 0px;
margin-top: 0px;
}
.funny-text{
  width: 300px;
  font-size: 1rem;
  color: #534C64;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  margin-top: 5px;
  position: relative;
  left: 10px;
 
}
.special-play{
  background-image: url("./images/Rectangle7.png");
  background-repeat: no-repeat;
  background-size: 84%;
  position: relative;
  bottom: 10px;
  left: 8px;
  
}
.special-play img{
  width: 15%;
  justify-content: center;
  position: relative;
  bottom: 27px;
  right: 19px;
  
}
.special-play:hover{
  background-color:#000;
  opacity:0.5;

}
.special-play .watch-now{
  text-align: center;
  position: relative;
  bottom: 156px;
  right: 19px;
  background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.funnu-img .special-text-play{
  position: relative;
  bottom: 65px;
}
.special-two{
 position: relative;
 right: 28px;
}
.special-text-two{

}
/* play section  */
.play-section{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  position: relative;
  bottom: 50px;
}

.play-container{
  text-align: right;
  margin-right: 100px;
  margin-bottom: 280px;

}
.play-instantly{
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.play-title{
font-size: 3rem;
color: #0B0223;
margin-bottom: 0px;
}
.play-discription{
  color: #534C64;
font-size: 1.1rem;
padding-top: 0px;
}
.play-img img{
  width: 80%;
  margin-top: 80px;
}
.img-small img{
border-radius: 8px;
border: 5px solid #FFF;
background: url(<path-to-image>), lightgray 0px -0.304px / 100% 117.229% no-repeat;
width: 40%;
height: 40%;
position: relative;
bottom: 310px;
right: 130px;
}

/* online section  */

.onlie-section{
  display: flex;
  margin-top: 0px;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 200px;
  
}
.onlie-container{
  text-align: left;
  margin-left: 80px;
  margin-bottom: 280px;

}
.onlie-play-title{
font-size: 3rem;
color: #0B0223;
}
.play-games-online{
 background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.online-discription{
  color: #534C64;
font-size: 1.1rem;
}
.onlie-img img{
 width: 80%;
}
.img-online img{
  border-radius: 8px;
border: 5px solid #FFF;
background: url(<path-to-image>), lightgray -7.209px 0px / 114.78% 100% no-repeat;
 width: 40%;
 position: relative;
 left: 440px;
 bottom: 210px;
}

/* career section  */
.career{
  height: 600px;
 background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);;
 display: flex;
 justify-content: center;
 position: relative;
 bottom: 270px;
}
.career img{
  width: 580px;
  
}
.career-content{
  padding-top: 50px;
  padding-left: 100px;
}
.career-title{
color: #FFF;
font-size: 3rem;
margin-bottom: 24px;
}
.career-dis{
  color: #FFF;
  font-size: 1.1rem;
  /* width: 650px; */
}
.career-list{
  display: flex;
  
}
.content{
color: #FFF;
font-size: 1.2rem;
}
.btn-req{
font-size: 1.3rem;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
background-clip: text;
-webkit-background-clip: text;
display: inline-flex;
padding: 18px 45px;
align-items: flex-start;
gap: 10px;
border-radius: 48px;
background: #FFF;
color: #FF42A5;
margin-top: 40px;
}

/* games list  */
.games-list-section{
  position: relative;
  bottom: 170px;
}
.one-type{
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 20px;
}
.game{
  display: flex;
  border-radius: 50px;
  background: #FAF9F6;
  
}
.game .nor-text{
 color: #0B0223;
font-size: 1rem;
padding-left: 10px;
width: 180px;
}
.game img{
  width: 20%;
}
.game .arcade{
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}
.arc{
  border: 1px solid #FF42A5;
}

/* footer section  */

.footer-section{
  background: #0B0223;
  padding: 50px 60px;
  text-align: center;
  margin-top: -51px;
}
.logo2{
  justify-content: center;
}
.footer-logo{
  color: #FFF;
}
.footer-menu{
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 5px;
}
.footer-menu a{
  text-decoration: none;
   color: #FFF;
  font-size: 1.1rem;
}

.footer-img img{
  margin-right: 38px;
  width: 3%;
  margin-top: 40px;
}
.footer-text{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}
.footer-text a{
  margin-right: 50px;
  color: rgba(255, 255, 255, 0.60);
  text-decoration: none;
}
.footer-copyright{
  color: rgba(255, 255, 255, 0.60);
  margin-top: 15px;
}

/* responsive for mobile  */

@media screen and (max-width: 576px) {
  body{
    margin: 0 auto;
  
  }
  nav{
    flex-direction: column;
  }
  ul{
    flex-direction: column;
    margin-top: -10px;
  }
  li{
    margin-top: 36px;
  }
  .banner{
    flex-direction: column-reverse;
    align-items: center;
    background-position: center;
    background-image: none;
  }
  .banner-content{
    text-align: center;
    background-image: url("./images/Group\ 14.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 875px;
    width: 646px;
  }
  .banner img{
    width: 100%;
  }
  .banner-service, .button{
    padding-left: 153px;
  }
  .gamer-section{
    flex-direction: column;
    margin-top: -332px;
    align-items: center;
  }
  .gamer-container{
    text-align: center;
    margin-right: 0px;
  }
  .gamer-title{
   text-align: center;
  }
  .gamer-discription{
    width: 447px;
    text-align: center;
    font-size: 1rem;
  }
  .gamer-purpose{
    margin-top: 50px;
  }
  .gamer-section .unleash{
    font-size: 1.7rem;
    text-align: center;
  }
  .online-games, .funny-videos-title{
    font-size: 2rem;
  }
  .funny-discription{
    font-size: 1rem;
  }
  .funnu-img{
    flex-direction: column;
    align-items: center;
  }
  .funnu-img img{
    width: 100%;
    height: 100%;
  }
  .funny-text{
    width: 400px;
    font-size: 14px;
    text-align: center;
  }
  .special-play{
    background-size: 395px;
  }
  .special-play img{
    width: 15%;
  }
  
}